@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

.content {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content > div {
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 4px 10px;
    border-radius: 5px;
}

.btn .primary {
    background-color: blue;
}

.finished {
    color: rgb(124, 124, 124);
    text-decoration: line-through;
}

.deletedGame {
    cursor: pointer;
    color: red;
}

.deletedGame:hover {
    color:rgb(141, 30, 30);
}

#list li span, #list li i, #list li input {
    vertical-align: middle;
}

#screen-tchat {
    height: 500px;
    width: 400px;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgb(241, 241, 241);
}

.border {
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
}

.tchat > div {
    margin: 15px 0px;
}

input {
    height: 30px;
}

#new_game {
    margin: 10px;
}

.games {
    width: 600px;
    min-height: 500px;
    max-height: 600px;
}

.tchat input, .tchat i {
    vertical-align: middle;
}

.tchat i {
    cursor: pointer;
}
.tchat i:hover {
    color:rgb(141, 30, 30);
}

#texttchat {
    width: 90%;
}

.tchat ul {
    width: 100%;
}

.bubble {
    margin:10px;
    width:50px;
    background:#75d3ff;
    height:50px;
    text-align:center;
    border-radius: 50px;
    line-height: 50px;
}

#list .bubble {
    float: right;
}

#list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#list ul li {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#list ul li span {
    text-align: left;
}

#list {
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}